<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>servlet.AServlet</servlet-class>
        <init-param>
            <param-name>p1</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>v2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CServlet</servlet-name>
        <servlet-class>servlet.CServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DServlet</servlet-name>
        <servlet-class>servlet.DServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EServlet</servlet-name>
        <servlet-class>servlet.EServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FServlet</servlet-name>
        <servlet-class>servlet.FServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GServlet</servlet-name>
        <servlet-class>servlet.GServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HServlet</servlet-name>
        <servlet-class>servlet.HServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IServlet</servlet-name>
        <servlet-class>servlet.IServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IServlet</servlet-name>
        <url-pattern>/IServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HServlet</servlet-name>
        <url-pattern>/HServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GServlet</servlet-name>
        <url-pattern>/GServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FServlet</servlet-name>
        <url-pattern>/FServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EServlet</servlet-name>
        <url-pattern>/EServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DServlet</servlet-name>
        <url-pattern>/DServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlet</servlet-name>
        <url-pattern>/CServlet</url-pattern>
    </servlet-mapping>
<context-param>
    <param-name>context-paramKey</param-name>
    <param-value>context-paramValue</param-value>
</context-param>

</web-app>