<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>servlet.AServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneServlet</servlet-name>
        <servlet-class>forward.OneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwoServlet</servlet-name>
        <servlet-class>forward.TwoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThreeServlet</servlet-name>
        <servlet-class>forward.ThreeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>OneServlet</servlet-name>
        <url-pattern>/OneServlet</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>TwoServlet</servlet-name>
        <url-pattern>/TwoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThreeServlet</servlet-name>
        <url-pattern>/ThreeServlet</url-pattern>
    </servlet-mapping>
</web-app>